In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import MeanShift

In [2]:
df = pd.read_csv("checkins.dat", sep='|', skipinitialspace=True)

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.columns

Index(['id', 'user_id', 'venue_id', 'latitude', 'longitude', 'created_at'], dtype='object')

In [4]:
df.dropna(inplace=True)

In [5]:
df.head()

       id    user_id  venue_id   latitude   longitude           created_at
0  984222    15824.0    5222.0  38.895112  -77.036366  2012-04-21 17:43:47
2  984234    44652.0    5222.0  33.800745  -84.410520  2012-04-21 17:43:43
6  984291   105054.0    5222.0  45.523452 -122.676207  2012-04-21 17:39:22
8  984318  2146539.0    5222.0  40.764462 -111.904565  2012-04-21 17:35:46
9  984232    93870.0  380645.0  33.448377 -112.074037  2012-04-21 17:38:18

In [10]:
df = df[:100000]
df = df[["latitude","longitude"]]

In [11]:
df.shape

(100000, 2)

In [12]:
ms = MeanShift(bandwidth=0.1)

In [13]:
ms.fit(df)

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
          n_jobs=None, seeds=None)

In [55]:
labels = ms.labels_
centers = ms.cluster_centers_

In [31]:
unique_labels, counts = np.unique(labels, return_counts=True)

In [56]:
unique_labels_more = centers[counts>15]

In [69]:
unique_labels_more.shape

(592, 2)

In [70]:
offices = pd.read_csv("offices")

In [86]:
offices

    latitude   longitude
0  33.751277 -118.188740
1  25.867736  -80.324116
2  51.503016   -0.075479
3  52.378894    4.885084
4  39.366487  117.036146
5 -33.868457  151.205134

In [95]:
min_arr = list()
for i in range(len(offices)):
    
    min_arr.append(np.min((np.sum((offices.iloc[i].to_numpy()-unique_labels_more)**2, axis=1))**1/2))
#     min_arr.append(np.linalg.norm(unique_labels_more - offices.iloc[i].to_numpy()))
print(offices.iloc[np.argmin(np.array(min_arr))])

latitude     -33.868457
longitude    151.205134
Name: 5, dtype: float64